<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application>
        <service
            android:name="com.github.yumelira.yumebox.service.TunService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="clash_vpn" />
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name="com.github.yumelira.yumebox.service.ClashService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="clash_proxy" />
        </service>

        <service
            android:name="com.github.yumelira.yumebox.service.LogRecordService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="log_record_service" />
        </service>

        <service
            android:name="com.github.yumelira.yumebox.service.AutoRestartService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="auto_restart_service" />
        </service>

        <service
            android:name="com.github.yumelira.yumebox.service.DialerLaunchService"
            android:exported="false" />

        <service
            android:name="com.github.yumelira.yumebox.service.RootTunService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="clash_root_tun" />
        </service>

        <service
            android:name="com.github.yumelira.yumebox.service.root.RootTunRootService"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <service
            android:name="com.github.yumelira.yumebox.service.ProxyTileService"
            android:exported="true"
            android:icon="@drawable/ic_notification_furin"
            android:label="@string/tile_proxy_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.github.yumelira.yumebox.service.DialerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:host="0721" android:scheme="android_secret_code" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.github.yumelira.yumebox.service.RestartReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
