<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="top.yukonga.miuix.kmp.blur" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:ignore="ForegroundServicesPolicy"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="com.android.permission.GET_INSTALLED_APPS"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"
                     tools:ignore="RequestInstallPackagesPolicy"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
                     android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
                     tools:ignore="AllFilesAccessPolicy,ScopedStorage"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" tools:ignore="SmsAndCallLogPolicy"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="${appName}"
            android:supportsRtl="true"
            android:theme="@style/Theme.YumeBox"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="install-config" android:scheme="clash"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="install-config" android:scheme="clashmeta"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="kokoro"
                    android:host="oauth"
                    android:path="/callback"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".screen.onboarding.OnboardingActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.YumeBox"/>

        <activity
                android:name=".ProxySheetActivity"
                android:excludeFromRecents="true"
                android:exported="false"
                android:finishOnTaskLaunch="true"
                android:launchMode="singleInstance"
                android:taskAffinity=""
                android:theme="@style/Theme.YumeBox.Translucent.Popup"/>

        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true"/>

        <activity-alias
                android:name=".MainActivityAlias"
                android:exported="true"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <meta-data
                android:name="com.github.yumelira.yumebox.startup_gate.ENABLED"
                android:value="${startupGateEnabled}"/>
        <meta-data
                android:name="com.github.yumelira.yumebox.startup_gate.ENFORCE_SIGNER"
                android:value="${startupGateEnforceSigner}"/>
        <meta-data
                android:name="com.github.yumelira.yumebox.startup_gate.EXPECTED_SIGNER_SHA256"
                android:value="${startupGateExpectedSignerSha256}"/>

        <meta-data
                android:name="org.chromium.webapk.shell_apk"
                android:value=""/>
        <meta-data
                android:name="com.android.stamp.type"
                android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data
                android:name="com.android.stamp.source"
                android:value="https://play.google.com/store"/>

        <provider
                android:name=".service.StatusProvider"
                android:authorities="${applicationId}.status"
                android:enabled="true"
                android:exported="false"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

    </application>
</manifest>
